.world-map-wrapper {
  background-color: #EEF1E1;
  padding-top: 5rem;
}
.world-map-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.world-map {
  display: block;
  width: 100%;
  height: auto;
}
.region-btn {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); /* optional */
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.875rem;
  z-index: 10;
}